<?php
/* $Id: config.inc.php.dist 27 2005-02-20 15:32:52Z root $ */

$db_host = "localhost";
$db_user = "root";
$db_pass = "";
$db_name = "dns";


$base_url = "http://localhost/dns";
$base_path = "/var/www/html";
$zone_path = "/var/named";
$conf_file = "/etc/named.conf";
$site_name = "DNS";

$dns1 = 'testdns1.hrnoc.net.';
$dns2 = 'testdns2.hrnoc.net.';
$dnshostmaster = 'hostmaster.hrnoc.net.';

$offline_mode = false;

?>
