<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
<head>
<title><{$app_name}></title>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
<link href="<{$base_url}>/style.css" rel="stylesheet" type="text/css">
</head>
<body>
<table width="80%" border="0" cellpadding="2" cellspacing="1" onmouseover="this.style.backgroundColor = '#BCCBD2';" onmouseout="this.style.backgroundColor = '#CDDBE2';" class="mainBG" align="center">
  <tr> 
    <td align="center" valign="middle" class="headBG1"><span class="textSize0"><{include file="admin/nav.htm"}></span>
</td>
  </tr>
  <tr> 
    <td onmouseover="this.style.backgroundColor = '#FBFDFF';"
onmouseout="this.style.backgroundColor = '#FFFFFF';"
class="contentBGNewsMainTD"> <br>
			<table width="50%" border="0" cellspacing="1" cellpadding="2" bgcolor="#dcdcdc" align="center" >
              <tr>
                <td bgcolor="whitesmoke" colspan="2"><p><b>
                    <center>
                      <b>Modify Zone</b>
                    </center>
                </b></p></td>
              </tr>
              <tr>
                <td bgcolor="#ffffff" colspan="2">
                      <form name="editrecord" method="post" action="<{$smarty.server.PHP_SELF}>">
                        <input type="hidden" name="act" value="update">
                        <input type="hidden" name="domainid" value="<{$smarty.request.domainid}>">
                        <table width="100%"  border="0" cellspacing="0" cellpadding="0">
                          <tr>
                            <td width="53%">Domain</td>
                            <td width="47%">Password</td>
                          </tr>
                          <tr>
                            <td bgcolor="whitesmoke"><{$domain}></td>
                            <td><input name="password" value="<{$password}>"></td>
                          </tr>
                          <tr>
                            <td>&nbsp;</td>
                            <td><div align="right">
                              <input type="submit" name="Submit" value="Submit">
                            </div></td>
                          </tr>
                        </table>
                      </form>
                </div></td>
            </table>
			<center>
			</center>
        <br>

      <br>
    </td>
  </tr>
  </tr>
      <{include file="footer.htm"}>
  </tr>
</table>
</body>
</html>
