        <table width="50%" border="0" cellspacing="1" cellpadding="2" bgcolor="#dcdcdc" align="center" >
        <tr>
          <td bgcolor="whitesmoke" colspan="2"><b><center>Domains Starting with:</center></b></td>
        </tr>
        <tr>
            <td bgcolor="#ffffff" colspan="2"><center>
            <a href=search.php?act=results&q=0>0</a>
            <a href=search.php?act=results&q=1>1</a>
            <a href=search.php?act=results&q=2>2</a>
            <a href=search.php?act=results&q=3>3</a>
            <a href=search.php?act=results&q=4>4</a>
            <a href=search.php?act=results&q=5>5</a>
            <a href=search.php?act=results&q=6>6</a>
            <a href=search.php?act=results&q=7>7</a>
            <a href=search.php?act=results&q=8>8</a>
            <a href=search.php?act=results&q=9>9</a>
            <a href=search.php?act=results&q=a>A</a>
            <a href=search.php?act=results&q=b>B</a>
            <a href=search.php?act=results&q=c>C</a>
            <a href=search.php?act=results&q=d>D</a>
            <a href=search.php?act=results&q=e>E</a>
            <a href=search.php?act=results&q=f>F</a>
            <a href=search.php?act=results&q=g>G</a>
            <a href=search.php?act=results&q=h>H</a>
            <a href=search.php?act=results&q=i>I</a>
            <a href=search.php?act=results&q=j>J</a>
            <a href=search.php?act=results&q=k>K</a>
            <a href=search.php?act=results&q=l>L</a>
            <a href=search.php?act=results&q=m>M</a>
            <a href=search.php?act=results&q=n>N</a>
            <a href=search.php?act=results&q=o>O</a>
            <a href=search.php?act=results&q=p>P</a>
            <a href=search.php?act=results&q=q>Q</a>
            <a href=search.php?act=results&q=r>R</a>
            <a href=search.php?act=results&q=s>S</a>
            <a href=search.php?act=results&q=t>T</a>
            <a href=search.php?act=results&q=u>U</a>
            <a href=search.php?act=results&q=v>V</a>
            <a href=search.php?act=results&q=w>W</a>
            <a href=search.php?act=results&q=y>Y</a>
            <a href=search.php?act=results&q=z>Z</a>
            <br>
            <br>
            <form action="search.php" method="get">
            <input name="act" value="results" type="hidden">
            Quick Search: <input name="q" size=10 value="<{$smarty.request.q}>">
            </form>
            </center>
            </td>
        </tr>
        
        </table>
        <br>
