<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
<head>
<title><{$app_name}></title>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
<link href="<{$base_url}>/style.css" rel="stylesheet" type="text/css">
</head>
<body>
<SCRIPT LANGUAGE="JavaScript">
<!-- Start confirm del 

function delrecord(recordname) {
        return confirm("Are you sure you want to delete " + recordname + "?" );
}

// Stop confirm del --->
</SCRIPT>
<table width="80%" border="0" cellpadding="2" cellspacing="1" onmouseover="this.style.backgroundColor = '#BCCBD2';" onmouseout="this.style.backgroundColor = '#CDDBE2';" class="mainBG" align="center">
  <tr> 
    <td align="center" valign="middle" class="headBG1"><span class="textSize0"><{include file="nav.htm"}><br></span>
</td>
  </tr>
  <tr> 
    <td onmouseover="this.style.backgroundColor = '#FBFDFF';"
onmouseout="this.style.backgroundColor = '#FFFFFF';"
class="contentBGNewsMainTD"> <br>
      <table width="50%" border="0" cellspacing="1" cellpadding="2" bgcolor="#dcdcdc" align="center" >
        <tr> <{if $smarty.request.msg}><center><font color="<{$color}>"><b><{$msg}></b></font></center><br><{/if}>
          <td bgcolor="whitesmoke" colspan="2"><p><b><center>
            Viewing DNS Record: <{$domain}> : IP <{$ip}>
          </center></b></p></td>
        </tr>
        <tr> 
          <td bgcolor="#ffffff" colspan="2"><center>
            <table width="100%"  border="0" cellspacing="0" cellpadding="0">
            <tr>
                <center><a href="changeip.php?act=edit">Change Main IP</a></center>
           </tr>
           <tr><td><br></td></tr>
              <tr>
                <td colspan="2">A RECORDS </td>
                </tr>
            <tr><td><br></td></tr>
            <{section name=a loop=$records_a}>
              <tr bgcolor="<{cycle name=a values="whitesmoke,#ffffff"}>">
                <td><{$records_a[a].name}></td>
                <td><{$records_a[a].address}></td>
                <td><a href="modrecord.php?act=edit&type=a&recordid=<{$records_a[a].recordid}>">Edit</a></td>
                <td><a href="modrecord.php?act=del&type=a&recordid=<{$records_a[a].recordid}>" onClick="return delrecord('<{$records_a[a].name}>')">Delete</a></td>
              </tr>
            <{/section}>
            <tr><td><br></td></tr>
              <tr>
                <td colspan="2">CNAME RECORDS </td>
                </tr>
            <tr><td><br></td></tr>
            <{section name=cname loop=$records_cname}>
              <tr bgcolor="<{cycle name=cname values="whitesmoke,#ffffff"}>">
                <td><{$records_cname[cname].name}></td>
                <td><{$records_cname[cname].address}></td>
                <td><a href="modrecord.php?act=edit&type=cname&recordid=<{$records_cname[cname].recordid}>">Edit</a></td>
                <td><a href="modrecord.php?act=del&type=cname&recordid=<{$records_cname[cname].recordid}>" onClick="return delrecord('<{$records_cname[cname].name}>')">Delete</a></td>
              </tr>
            <{/section}>
            <tr><td><br></td></tr>
              <tr>
                <td colspan="2">MX RECORDS </td>
                </tr>
            <tr><td><br></td></tr>
            <{section name=mx loop=$records_mx}>
              <tr bgcolor="<{cycle name=mx values="whitesmoke,#ffffff"}>">
                <td><{$records_mx[mx].priority}></td>
                <td><{$records_mx[mx].address}></td>
                <td><a href="modrecord.php?act=edit&type=mx&recordid=<{$records_mx[mx].recordid}>">Edit</a></td>
                <td><a href="modrecord.php?act=del&type=mx&recordid=<{$records_mx[mx].recordid}>" onClick="return delrecord('<{$records_mx[mx].name}>')">Delete</a></td>
              </tr>
            <{/section}>
            </table>
          </center></td>
      </table>
        <br>

      <br>
    </td>
  </tr>
  </tr>
      <{include file="footer.htm"}>
  </tr>
</table>
</body>
</html>
